# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# OS/editor
.DS_Store
.vscode/
.idea/

# Virtual envs
.venv/
venv/
env/
oc-env/

# Project artifacts
runs/
graphs/
models/
dqn_logs/
ppo_logs/
*.pth
*.pt

# Notebooks checkpoints
.ipynb_checkpoints/
